<section class="films">
    <ul class="menu">
    {% for object in object_list %}{% spaceless %}
        <li {% if default_event and object.shown_at.latest.slug == default_event %}class="current"{% endif %}>
            <a href="{{ object.get_absolute_url }}" title="{{ object.title }}">
            {{ object.title }}</a>
            {% if q or country and not event %}
            <span class="detail event">
            <a class="secondary"
               href="{{ object.shown_at.latest.get_absolute_url }}"
               title="{{ object.shown_at.title }}">{{ object.shown_at.latest.title }}</a>
            </span>
            {% else %}
            <span>{{object.countries.first.name}}</span>
            <span class="minor runtime">{{ object.runtime }}m</span>
            <span>Dir: {% for director in object.directors.all|slice:':4' %}{{director.full_name}}{% if not forloop.last %}, {% endif %}{% endfor %}</span>
            {% endif %}
        </li>{% endspaceless %}
    {% empty %}
    <h3>No films!</h3>
    <p>No films were found</p>
    {% endfor %}
    </ul>
</section>
