<nav class="columns col-12">
    <ul class="vertical-menu">
    {% for object in object_list %}{% spaceless %}
        <li {% if default_event and object.shown_at.latest.slug == default_event %}class="current"{% endif %}>
            <a href="{{ object.get_absolute_url }}" title="{{ object.title }}">
            {{ object.title }}</a>
            {% if q or country and not event %}
            <span class="detail event">
            <a class="secondary"
               href="{{ object.shown_at.latest.get_absolute_url }}"
               title="{{ object.shown_at.title }}">{{ object.shown_at.latest.title }}</a>
            </span>
            {% else %}
            <span class="detail runtime">{{ object.runtime }}m</span>
            {% endif %}
        </li>{% endspaceless %}
    {% empty %}
    <h3>No films!</h3>
    <p>No films were found</p>
    {% endfor %}
    </ul>
</nav>