{% extends "base.html" %}
{% block pagetitle %}Films by Country | {{ block.super }} {% endblock pagetitle %}
{% block content %}
<div class="row">
    <nav class="columns col-12">
        <ul class="vertical-menu">
        {% for object in object_list %}{% spaceless %}
            <li><a href="{{ object.get_absolute_url }}">{{ object }}</a>
            <span></span>
            </li>{% endspaceless %}
        {% empty %}
        <h3>No countries!</h3>
        <p>No countries were found</p>
        {% endfor %}
        </ul>
    </nav>
</div>
{% endblock content %}
