{% extends "base.html" %}
{% block pagetitle %}{{ block.super }} | {{ object.title }}{% endblock pagetitle %}
{% block content %}
    <div class="row">
        <div class="columns">
            <h2 id="title">{{ object.title }}</h2>
        </div>
        <div class="columns">
            <nav class="tab-bar" role="navigation">
                <ul>
                    <li><a href="#details" title="Details">Details</a></li>
                    <li><a href="#description" title="Description">Description</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="tab-sections row">
        <section id="details" class="columns col-12">
            <h3>Synopsis</h3>
            {{ object.synopsis|linebreaks }}
            <div class="col-6">
                <h3>Runtime</h3>
                <p>{{ object.runtime }} minutes</p>
                {% if object.languages %}
                <h3>Languages</h3>
                <p>{{ object.languages|join:", " }}</p>
                {% endif %}
                {% if object.countries %}
                <h3>Countries</h3>
                <ul class="secondary-links">{% for country in object.countries.all %}
                    <li><a href="{% url 'films-from-country' slug=country.slug %}">{{ country.name }}</a></li>{% endfor %}
                </ul>
                {% endif %}
                {% if object.related_urls %}
                    <h3 id="related_urls">Related URLS</h3>
                    <ul class="secondary-links">{% for url in object.related_urls %}
                        <li>{{ url|urlize }}</li>{% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="col-6">
                <h3>Year</h3>
                <p>{{ object.year }}</p>
                <h3>Directors</h3>
                {% if object.directors.count > 1 %}
                <ul>
                    {% for director in object.directors.all %}
                    <li>{{ director.full_name }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                    <p>{{ object.directors.first.full_name }}</p>
                {% endif %}
            </div>
        </section>
        <section id="description" class="columns">
        {% if object.description %}
            {{ object.description|linebreaks }}
        {% else %}
            <p><em>No description provided.</em></p>
        {% endif %}
        </section>
    </div>
{% endblock content %}