{% extends "base.html" %}

{% block pagetitle %}{{ block.super }}
{% if event.title %} | {{ event.title }}
{% elif country %}
 | {{ country }}
{% endif %}
{% endblock pagetitle %}


{% block pagehead %}
{% if country %}
<h1>{{ country }}</h1>
{% else %}
{{ block.super }}
{% endif %}
{% endblock pagehead %}


{% block content %}
{% if q %}
<div class="row">
    <div class="columns col-12">
        <h3>Results for: "{{ q }}"</h3>
    </div>
</div>
{% endif %}
{% if paginator %}
<div class="row">
    <div class="columns">
    {% include "cinema/_nav_pagination.html" %}
    </div>
</div>
{% endif %}
<div class="row">
    {% include "cinema/_film_menu.html" %}
</div>
{% if paginator %}
<div class="row">
    <div class="columns">
    {% include "cinema/_nav_pagination.html" %}
    </div>
</div>
{% endif %}
{% endblock content %}