{% extends "base.html" %}
{% block pagetitle %}{{ block.super }}
{% if event.title %} | {{ event.title }}{% endif %}
{% endblock pagetitle %}
{% block content %}
<div class="row">
    <nav class="col-12">
        <ul class="vertical">
        {% for object in object_list %}{% spaceless %}
            <li>
                <a href="{{ object.get_absolute_url }}" class="informational">{{ object.title }}</a>
                <span class="detail runtime">{{ object.runtime }}m</span>
            </li>{% endspaceless %}
        {% empty %}
        <h4>No films!</h4>
        {% endfor %}
        </ul>
    </nav>
</div>
{% endblock content %}