# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# ipython notebook stuff
.ipynb_checkpoints/

# env
.env

# Keep a place for playful things
sandbox/*

staticfiles
.sass-cache
thatsfantastic/static/sass/vendor

node_modules