[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"
ipython = "*"
ipdb = "*"
coverage = "*"
factory-boy = "*"
betamax = "*"

[packages]
psycopg2 = "*"
dj-database-url = "*"
whitenoise = "*"
requests = "*"
cchardet = "*"
beautifulsoup4 = "==4.5.1"
cssselect = "==0.9.2"
lxml = ">3.4"
waitress = "*"
nameparser = "==0.5.1"
Django = "*"
CacheControl = {extras = ["filecache"],version = "*"}

[requires]
python_version = "3.7"

[scripts]
manage = "python manage.py"
server = "python manage.py runserver"
db = "python manage.py dbshell"
