html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  color: #A6ACB3;
  background-color: #242526;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 100;
  line-height: 1.2;
  margin: 0 0 0.8em;
  letter-spacing: 0.0625em;
  color: #2D3D4D; }

p {
  font-weight: 300;
  letter-spacing: 0.03125em; }

h1, h1 > a {
  font-size: 1.2em;
  color: #364a5d; }

h2 {
  font-size: 1.7em;
  color: #A6ACB3;
  margin: 0.8em 0 0.6em; }

h3 {
  font-size: 1.5em; }

a {
  color: #1A5A9B;
  text-decoration: none;
  -webkit-transition: color 0.4s ease-out;
  -moz-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out; }
  a:active, a:focus, a:hover, a.active {
    color: #529ae2; }

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0; }
nav > ul {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute; }
  nav > ul li {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; }
    nav > ul li a {
      display: block; }
  nav > ul.vertical {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-lines: single;
    -moz-box-lines: single;
    box-lines: single;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    box-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    -o-align-items: stretch;
    align-items: stretch;
    -ms-flex-align: stretch;
    -webkit-box-pack: distribute;
    -moz-box-pack: distribute;
    box-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: distribute; }
    nav > ul.vertical li {
      border-bottom: 1px solid #2D3D4D;
      margin: 0 0.625em; }
      nav > ul.vertical li a {
        font-size: 1.2em;
        padding: 0.875em 0.75em;
        background-color: #262829; }
        nav > ul.vertical li a:focus, nav > ul.vertical li a:hover {
          background-color: #2b2d2e; }

input, button, input[type="button"], input[type="reset"], input[type="submit"] {
  min-height: 44px; }

input[type="text"] {
  margin: 0 0.5em;
  font-size: 1.1em; }

.outer-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }
  .outer-container::after {
    clear: both;
    content: "";
    display: table; }

.row {
  width: 100%;
  display: block; }
  .row::after {
    clear: both;
    content: "";
    display: table; }

.columns {
  padding: 2.35765%; }

.col-3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .col-3:last-child {
    margin-right: 0; }

.col-9 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .col-9:last-child {
    margin-right: 0; }

.col-12 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .col-12:last-child {
    margin-right: 0; }

button, input[type="button"], input[type="reset"], input[type="submit"], .button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  padding: 0 1.5em;
  display: inline-block;
  border: 1px solid #316ba5;
  border-radius: 3px;
  background-color: #1A5A9B;
  color: #A6ACB3; }

nav.top-bar {
  min-height: 56px;
  background-color: #1F2226; }
  nav.top-bar ul {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify; }
    nav.top-bar ul li > a {
      text-align: right;
      line-height: 1em;
      padding: 1.25em 0.5em; }
  nav.top-bar h1 {
    margin: 0;
    line-height: 1em; }
    nav.top-bar h1 a {
      padding: 0.75em 0.5em; }
  nav.top-bar section {
    padding: 0.5em; }

.tab-bar {
  border: 1px solid #2D3D4D;
  margin: 0 0 0.75em; }
  .tab-bar ul li {
    border-right: 1px solid #2D3D4D; }
    .tab-bar ul li a {
      padding: 0.625em 0.25em;
      text-align: center; }
      .tab-bar ul li a:focus, .tab-bar ul li a:hover {
        background-color: #303233; }
      .tab-bar ul li a:active, .tab-bar ul li a.active {
        background-color: #2b2d2e; }
    .tab-bar ul li:last-child {
      border: none; }

form.flex-form > ul {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  box-lines: single;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-align: end;
  -moz-box-align: end;
  box-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
  -ms-flex-align: end; }
  form.flex-form > ul li {
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    box-flex: 2;
    -webkit-flex: 2 1 auto;
    -moz-flex: 2 1 auto;
    -ms-flex: 2 1 auto;
    flex: 2 1 auto;
    margin: 0; }
    form.flex-form > ul li:last-child {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      box-flex: 1;
      -webkit-flex: 1 1 auto;
      -moz-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto; }
    form.flex-form > ul li input {
      margin: 0;
      width: 95%; }

.start-hidden {
  display: none; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }
