{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="columns">
            <h2>{{ object.title }}</h2>
            <p>Runtime: {{ object.runtime }} minutes</p>
        </div>
    </div>
    <section class="row">
        <div class="columns">
            <h3>Synopsis</h3>
            {{ object.synopsis|linebreaks }}
        </div>
    </section>
    {% if object.description %}
    <section class="row">
        <div class="columns">
            <h3>Description</h3>
            {{ object.description|linebreaks }}
        </div>
    </section>
    {% endif %}
{% endblock content %}