<!DOCTYPE html>{% load static %}
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="no">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="apple-touch-icon" href="{% static 'img/icon-60@2x.png' %}" sizes="120x120">
        <link rel="apple-touch-icon" href="{% static 'img/icon-60@3x.png' %}" sizes="180x180">
        <link rel="apple-touch-icon" href="{% static 'img/icon-76@2x.png' %}" sizes="152x152">
        <title>{% block pagetitle %}That's Fantastic{% endblock pagetitle %}</title>
        <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    </head>
    <body>
    <nav class="top-bar" role="navigation">
    <ul class="title-area">
        <li class="menu-icon"><a href="/"><span>Home</span></a></li>
        <li class="name">
            {% block pagehead %}
            <h1>That's Fantastic</h1>
            {% endblock pagehead %}
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section start-hidden">
        <form class="flex-form" action="{% url 'cinema:films-search' %}" method="get">
        <ul>
            <li>
                <input name="q" type="text" placeholder="Look up a film" autofocus{% if q %} value="{{ q }}"{% endif %}>
            </li>
            <li>
                <input class="button" type="submit" value="Search">
            </li>
        </ul>
        </form>
        <div>
            <label for="event"> Go to event:</label>
            <select name="event" id="event-select">
                <option>---</option>{% for event in cinema.events %}
                <option value="{{event.get_absolute_url}}">{{event.title}}</option>{% endfor %}
            </select>
        </div>
    </section>
    </nav>
    <div class="outer-container">
{% block content %}{% endblock content %}
    </div>
    <script src="{% static 'js/vendor/zepto.min.js' %}"></script>
    <script src="{% static 'js/application.js' %}"></script>
{% block extrajs %}{% endblock extrajs %}
    </body>
</html>
