// Grid

.outer-container {
    display: block;
    max-width: $max-page-width;
    margin: em(20) auto 0;
    padding-bottom: em(60);
}

.columns {
    @include media($tablet) {
        @include pad();
    }
}

.row {
    @include fill-parent();
    @include row();
    margin-bottom: em(18);
}

@for $i from 1 through 12 {
  .col-#{$i} { @include span-columns($i); }
}
