.outer-container {
    display: block;
    max-width: 96%;
    margin: em(20) auto 0;
    padding-bottom: em(60);

    @include media($monitor) {
        max-width: $max-page-width;
    }
}

.layout {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(space-between);

    @include media($tablet) {
        @include flex-direction(row);
    }

    > * {
        display: block;
        @include flex(0 1 auto);
    }

    > .balanced {
        margin: 0;
        @include flex(0 1 50%);
    }


}
