@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";

// Typography
$base-font-family: -apple-system, $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 16px;

// Font Weights
$base-font-weight: 300;
$heading-font-weight: 200;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Letter spacing
$base-letter-spacing: em(0.5);
$heading-letter-spacing: $base-letter-spacing * 2;

// Margins
$base-heading-margin: 0.8em;
$link-list-margin: 0.5em;

// Colors
$almost-black: #242526;
$midnight-blue : #1F2226;
$light-gray: #A6ACB3;
$dark-grayblue: #2D3D4D;
$medium-blue: #1A5A9B;
$vague-purple: #564963;
$nighttime-red: rgb(161, 16, 16);
$blood-red: darken($nighttime-red, 15);

$base-font-color: $light-gray;
$base-background-color: $almost-black;
$action-color: $nighttime-red;
$secondary-action-color: $vague-purple;
$secondary-font-color: $blood-red;
$secondary-background-color: $midnight-blue;
$title-font-color: lighten($secondary-font-color, 15%);

$interactive-default-color: desaturate($blood-red, 60);
$interactive-active-color: lighten($blood-red, 10%);
$interactive-disabled-color: darken($base-font-color, 45%);
$interactive-background-color: lighten($base-background-color, 1%);
$interactive-background-active-color: lighten($interactive-background-color, 2%);

// Containers and whatnot

$max-page-width: 900px;

// Mobile

$tablet: new-breakpoint(min-width 600px);
