@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";
@import "variables";

// Reset-ish things

body {
    margin: 0;
    padding: 0;
    @include font-feature-settings("kern", "liga", "pnum");
    color: $base-font-color;
    background-color: $base-background-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font-family;
    font-size: $base-font-size;
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;
    margin: 0 0 $base-heading-margin;
    letter-spacing: $heading-letter-spacing;
    color: $secondary-font-color;
}

p {
    font-weight: $base-font-weight;
    letter-spacing: $base-letter-spacing;
}

h1, h1 > a {
    font-size: $base-font-size * 1.2;
}

h2 {
    font-size: $base-font-size * 1.7;
    color: $base-font-color;
}


h3 {
    font-size: $base-font-size * 1.5;
}

a {
    color: $action-color;
    text-decoration: none;
    @include transition(color 1.0s ease-in-out);

    &:active,
    &:focus,
    &:hover {
        color: shade($action-color, 25%);
    }
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;

    &%default-ol {
        list-style-type: decimal;
    }
}

nav > ul {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(space-around);

    li {
        @include flex(1 1 auto);

        a {
            display: block;
        }
    }
}


input, #{$all-buttons} {
    min-height: 44px;
}


input[type="text"] {
    min-width: em(300);
    margin: 0 em(8);
    font-size: $base-font-size * 1.1;
}

// Grid

.outer-container {
    @include outer-container(100%);
    margin: em(4) em(6);
}

.row {
    @include row();
}

.col-3 {
    @include span-columns(3);
}

.col-9 {
    @include span-columns(9);
}

.col-12 {
    @include span-columns(12);
}

// Components

#{$all-buttons}, .button {
    @include appearance(none);
    padding: 0 em(24);
    display: inline-block;
    border: 1px solid tint($action-color, 10%);
    border-radius: 3px;
    background-color: $action-color;
    color: $base-font-color;
}

nav.top-bar {
    min-height: 56px;
    background-color: $secondary-background-color;

    ul {
        @include justify-content(space-between);

        li > a {
            text-align: right;
            line-height: 1em;
            padding: em(20) em(8);
        }
    }

    h1 {
        margin: 0;
        line-height: 1em;

        a {
            padding: em(12) em(4);
        }

    }

    section {
        padding: em(8);
    }

}

.tab-bar {
    border: 1px solid $interactive-default-color;
    margin: 1em 0 2em;

    ul {
        li {
            border-right: 1px solid $interactive-default-color;

            a {
                padding: em(10) em(4);
                text-align: center;

            }
        }

        li:last-child {
            border: none;
        }

    }
}

form.flex-form > ul {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(flex-end);
    @include align-items(center);

    li {
        @include flex(0 0 auto);

        a {
            display: block;
        }
    }
}