@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";
@import "variables";
@import "layout";
@import "components";

// Reset-ish things

html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    @include font-feature-settings("kern", "liga", "pnum");
    color: $base-font-color;
    background-color: $base-background-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font-family;
    font-size: $base-font-size;
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;
    margin: 0 0 $base-heading-margin;
    letter-spacing: $heading-letter-spacing;
    color: $secondary-font-color;
}

p {
    font-weight: $base-font-weight;
    letter-spacing: $base-letter-spacing;
    margin-top: em(4);
}

h1, h1 > a {
    font-size: $base-font-size * 1.2;
    color: $title-font-color;
}

h2 {
    font-size: $base-font-size * 1.7;
    color: $base-font-color;
    margin: $base-heading-margin 0 $base-heading-margin * 0.75;
}

h3 {
    font-size: $base-font-size * 1.5;
}

h3, h4, h5 {
    margin: 0 0 em(8) 0;
}

a {
    color: $action-color;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover,
    &.active {
        @include transition(color 0.4s ease-out);
        color: lighten($action-color, 25%);
    }

    &.secondary {
        color: $secondary-action-color;
    }
}

ul, ol {
    list-style: none;
    margin: 0 0 $base-heading-margin;
    padding: 0;

    &%default-ol {
        list-style-type: decimal;
    }
}

ul.secondary-links {
    li {
        a {
            display: inline-block;
            padding: em(10) 0;
        }
    }
}

input, #{$all-buttons} {
    min-height: 44px;
}

input[type="text"] {
    margin: 0 em(8);
    font-size: $base-font-size * 1.1;
}
