@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";

// Typography
$base-font-family: $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Font Weights
$base-font-weight: 300;
$heading-font-weight: 100;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Letter spacing
$base-letter-spacing: em(0.5);
$heading-letter-spacing: $base-letter-spacing * 2;

// Margins
$base-heading-margin: 0.8em;

// Colors
$almost-black: #242526;
$midnight-blue : #1F2226;
$light-gray: #A6ACB3;
$dark-grayblue: #2D3D4D;
$medium-blue: #1A5A9B;

$base-font-color: $light-gray;
$base-background-color: $almost-black;
$action-color: $medium-blue;
$secondary-font-color: $dark-grayblue;
$secondary-background-color: $midnight-blue;
$title-font-color: lighten($secondary-font-color, 5%);

$interactive-default-color: $dark-grayblue;
$interactive-active-color: lighten($interactive-default-color, 20%);
$interactive-disabled-color: darken($base-font-color, 45%);
$interactive-background-color: lighten($base-background-color, 1%);
$interactive-background-active-color: lighten($interactive-background-color, 2%);

// Mobile

$mobile: new-breakpoint(max-width 480px 4);

$tablet: new-breakpoint(max-width 800px 8);